.hero-bg{
    background-image: url('https://images.unsplash.com/photo-1504326787394-e6d75cae8027?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
    .hero-bg{
        background-position: center;
    }
    
}